/*
Common css code for pickrr
*/
html{
  background-color: #ecf0f1;
  height: 100%;
}
body{
  background-color: transparent;
  height: 100%;
  font-size: 1.2em;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-family: 'Roboto', sans-serif;
}
.navbar.navbar-fixed-top{
  background-color: transparent;
}
.navbar-brand > img {
  height: 1.2em;
}
.navbar-default .navbar-collapse.in, .navbar-default .navbar-collapse.collapsing{
  background-color: #009688;
}
section#landing{
  background: url(/static/img/road-background.jpg) no-repeat center center fixed;
  height: 100%;
}
section{
  position: relative;
  background-color: rgba(52, 73, 94,1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#how-work{
  background: #ecf0f1;
}
.content-holder{
  background-color: rgba(52, 73, 94,0.5);
  padding-top: 8em;
  padding-bottom: 3em;
  height: 100%;
}
section#how-work>.content-holder{
  background-color: transparent;
  padding-top: 5em;
}
.navbar-default.navbar-fixed-top{
  background-color: #009688;
}
.trend-heading{
  margin-bottom: 4em;
}
.trend-heading>h2{
  font-size: 3em;
}
.trend-heading>img{
  margin-top: 2em;
  height: 8em;
}
.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.2em;
}
.navbar .navbar-nav > li > a {
  color: #FFF;
  font-size: 1.3em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}
.trend-heading{
  text-align: center;
}
.trend-heading>h2{
  font-family: 'Lobster', cursive;
  color: #fff;
  margin: 0.5em auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  width: 12em;
  font-size: 3.3em;
  white-space: nowrap;
}
.trend-heading>h1{
  font-size: 4em;
}
.trend-heading > h4 {
  color: #FFF;
  font-weight: bold;
  font-size: 1.8em;
}
.trend-heading .com-span{
  font-size: 2em;
  color: white;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid;
}
.com-span>.mat-icon, .btn-com>.mat-icon{
  vertical-align: middle;
  font-size: 1.2em;
}
.trend-heading .btn.btn-com{
  display: none;
  border-radius: 0.5em;
  color: #FFF;
  font-weight: bold;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}
.more-trig{
  position: absolute;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
.more-trig:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.more-trig>h3 {
  font-size: 3em;
  letter-spacing: 0.2em;
}
.more-trig>.mat-icon{
  font-size: 5em;
}
.panel{
  border-radius: 3px;
}
.panel-main{
  border-radius: 0;
  border: 1px solid white;
  max-width: 52em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.panel-main>.panel-heading{
  background-color: #009688;
  border-radius: 0;
}
.panel-main h3.panel-title{
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}
.form-group .control-label{
  font-weight: normal;
  font-size: 1.2em;
}

.loc-card{
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.loc-card>.mat-icon, .item-card>.mat-icon{
  color: #009688;
  vertical-align: middle;
}
.item-card{
  padding: 0.5em;
  margin-top: 1.2em;
}
.panel-main hr{
  border-top: 2px dotted #009688;
}
.panel-main .radio{
  margin-bottom: 0;
  border-bottom: 1px solid #bdc3c7;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}
.panel-main .radio:hover{
  background-color: #ecf0f1;
}
.pricing{
  color: #16a085;
  padding-bottom: 12px;
}
.time-to {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #16a085;
  text-align: right;
}
p.main-pricing {
  margin: 0;
  display: inline;
  color: #16a085;
}
.service-card{
  font-size: 1.3em;
}
.service-card>strong {
  font-size: 1.1em;
}
.panel-main .mat-icon {
  vertical-align: middle;
}
.mdi-device-airplanemode-on{
  position: absolute;
  left: 40%;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #009688;
  top: 0;
  font-size: 45px;
}
p.list-group-item-text {
  font-size: 1.2em;
  color: #16a085;
}
.modal-body{
  margin-top: 1em;
}
.form-radio-group>.radio {
  padding: 10px 20px;
  margin: 0 10px;
}
.panel-ajax .panel-body{
  position: relative;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 0.8);
  z-index: 100;
  top: 0;
  left: 0;
}
.loading>span{
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 66px);
  padding: 0.5em 2em;
  background-color: white;
  color: #7f8c8d;
}
.order-success {
  background-color: #2ecc71;
  color: white;
  padding: 1em;
  padding-bottom: 5em;
}
.order-success>h3, .order-card>h4{
  margin-top: 0;
}
.order-card{
  margin-top: -2.5em;
  background-color: #fff;
  margin-right: 3em;
  margin-left: 3em;
  padding: 1em;
  border-radius: 0.2em;
  margin-bottom: 2em;
}
.order-card>h4{
  color: #16a085;
}
.order-card .mat-icon{
  color: #16a085;
}
.order-card .col-md-12>p{
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 0.5em;
}
.panel-default h3.panel-title{
  font-size: 1.4em;
}
.panel-default{
  margin: 0em 1em 2em 1em;
}
.slick-link{
  font-style: italic;
  text-decoration: underline;
}
.pickrr-tab {
  margin-top: -20px;
  border-bottom: 2px solid #007D6F;
  font-size: 14px;
}
.pickrr-tab>li.active {
  border-bottom: 2px solid #fff;
}
.pickrr-tab-content{
  background-color: #fff;
  padding: 1em 2em;
  border-radius: 0.2em;
  min-height: 300px;
  margin-bottom: 2em;
}
.order-wrapper {
  padding: 1em;
  background-color: #ecf0f1;
  margin: 0.5em 0em;
  position: relative;
  color: #34495e;
  padding-bottom: 0.5em;
  font-size: 14px;
}
.order-wrapper.complete{
  background-color: #009688;
  color: white;
}
.order-time{
  top: 0;
  right: 2px;
  font-size: 0.8em;
  color: #16a085
}
.order-money{
  position: absolute;
  right: 4px;
  top: 2px;
  font-size: 0.8em;
}
.complete .order-money{
  font-size: 1em;
}
.order-time>i, .order-money>i{
  font-size: 1em;
  vertical-align: baseline;
}
.complete .order-time{
  color: white;
}
.list-group-item.list-address{
  padding-bottom: 1em;
  border-bottom: 1px solid #bdc3c7;
  margin-bottom: 0.5em;
  font-size: 13px;
}
.list-group-item.list-address>.list-group-item-heading{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}
.pickrr-number{
  display: block;
  padding: 0.5em;
  border: 1px solid;
  width: 200px;
  font-size: 1em;
  border-radius: 1em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: rgba(255,255,255,0.3);
}
.pickrr-number>i{
  vertical-align: middle;
}
.list-group-item-text{
  color: #16a085;
}
.list-group-item-heading>.tel{
  color: #16a085;
}
.drop-hidden{
  display: none !important;
}
.drop-wrap{
  position: relative;
}
.fakeinput{
  cursor: pointer;
}
.drop-wrap>ul {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  list-style: none;
  padding: 0.2em 1em;
  top: 0;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  transform-origin: top left;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;

}
.drop-wrap.open>ul{
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.drop-wrap>ul.open-under{
  top: 28px;
}
.drop-wrap li {
  padding: 0.5em;
  cursor: pointer;
  display: none;
}
.drop-wrap li.visible{
  display: block;
}
.drop-wrap li:hover {
  color: #009688;
}
.drop-wrap li.active{
  background-color: #ecf0f1;
}
.drop-wrap:after{
  right: 5px;
  top: 3px;
  font-size: 25px;
  position: absolute;
  content: "\e8ac";
  font-family: Material-Design-Icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  color: #757575;
}
.pickrr-tell{
  text-align: center;
  padding-bottom: 20px;
}
.pickrr-tell h2{
  font-size: 3.5em;
  font-family: "Lobster",cursive;
  color: #34495e;
  padding-bottom: 0.3em;
  border-bottom: 3px dashed;
  width: 10em;
  margin-right: auto;
  margin-left: auto;
}
.pickrr-tell .flaticon {
  font-size: 1.2em;
  color: white;
  width: 7em;
  display: block;
  margin: 0 auto;
  height: 7em;
  border: 1px solid #006355;
  border-radius: 100%;
  padding-top: 1em;
  background-color: #009688;
}
.pickrr-tell .flaticon:before {
  font-size: 3.5em;
  margin-left: 0;
  text-shadow: 0px 0px 5px #bdc3c7, 0 0 10px #bdc3c7;
}
.pickrr-sub {
  margin: 1em;
  background: #fff;
  padding: 1em;
  color: rgb(0, 150, 136);
}
.pickrr-tell h4 {
  font-size: 2em;
  margin-top: 0.5em;
  font-weight: bold;
}
.pickrr-tell p{
  font-size: 1.4em;
}
span.status{
  display: block;
  font-size: 1em;
}
.status-wrap {
  border: 1px solid #009688;
  color: #009688;
}
.status-wrap>.col-md-2{
  height: 160px;
}
.status-wrap h4{
  font-size: 1em;
}
.unactive{
  color: #bdc3c7;
}

.action-btn{
  display: inline-block;
  float: right;
  margin-top: -30px;
  margin-right: 50px;
}
.action-btn>a.btn.btn-fab {
  background-color: #eee;
}
.action-btn>a.btn.btn-fab:hover{
  background-color: #e4e4e4;
}
.btn>.mat-icon{
  margin-top: -4px;
}
.form-radio-group{
  font-size: 14px;
}
.content-padder{
  padding-top: 80px;
}
.call-div {
  position: absolute;
  top: 14px;
  right: 60px;
  display: none;
}
.form-legend{
  margin-top: 9em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 1em;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
@media (max-width: 400px){
  .time-to{
    position: relative;
  }
}
@media(min-width: 900px){
  .pickrr-tab-content{
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
    margin-top: -42px;
  }
}

@media(max-width:350px) {
  body{
    font-size: 0.6em;
  }
  .form-group .control-label{
    font-size: 2.4em;
  }
  .navbar-brand > img {
    height: 2em;
    margin-top: 0.2em;
  }
  .drop-wrap li{
    font-size: 2.4em;
  }
  .navbar .navbar-nav > li > a {
    font-size: 2.2em;
  }
  .panel-main h3.panel-title{
    font-size: 2.5em;
  }
  .loc-card{
    font-size: 1.7em;
  }
  .service-card{
    font-size: 2em;
  }
  .time-to{
    font-size: 1.6em;
  }
  .content-holder{
    padding-top: 10em;
  }
  .pickrr-sub p{
    font-size: 2em;
  }
  .content-padder{
    padding-top: 70px;
  }

}
@media (min-width: 351px) and (max-width: 550px){
  body{
    font-size: 0.85em;
  }
  .navbar-brand > img {
    height: 1.5em;
    margin-top: 0em;
  }
  .form-group .control-label{
    font-size: 1.5em;
  }
  .drop-wrap li{
    font-size: 1.6em;
  }
  .navbar .navbar-nav > li > a {
    font-size: 1.6em;
  }
  .panel-main h3.panel-title{
    font-size: 2.3em;
  }
  .service-card{
    font-size: 1.5em;
  }
  .loc-card{
    font-size: 1.5em;
  }
  .content-padder{
    padding-top: 70px;
  }
}
@media (min-width: 551px) and (max-width: 767px){
  body{
    font-size: 1.2em;
  }
  .form-group .control-label{
    font-size: 1.2em;
  }
  .drop-wrap li{
    font-size: 1.2em;
  }
  .panel-main h3.panel-title{
    font-size: 1.6em;
  }
  .navbar-brand > img {
    margin-top: 0em;
  }
  .content-padder{
    padding-top: 74px;
  }
}
@media (max-width: 767px){
  .trend-heading .com-span{
    display: none ;
  }
  .trend-heading .btn.btn-com{
    display: inline-block;
  }
  .call-div {
    display: block;
  }
  .call-div>a{
    color: white;
  }

}
@media (min-width: 768px) and (max-width: 991px){
  body{
    font-size: 1.2em;
  }
  .panel-main h3.panel-title{
    font-size: 1.8em;
  }
  .form-group .control-label{
    font-size: 1.5em;
  }
  .navbar-brand > img {
    height: 1em;
    margin-top: 0.1em;
  }
  .navbar .navbar-nav > li > a {
    font-size: 1.1em;
  }
  .drop-wrap li{
    font-size: 1.42m;
  }
  .content-padder{
    padding-top: 74px;
  }


}
@media (max-width: 991px){
  section#landing{
    height: auto;
  }
  .more-trig{
    display: none;
  }
  .status-wrap > .col-md-2{
    height: auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px){
  body{
    font-size: 1em;
  }
  .form-group .control-label{
    font-size: 1.3em;
  }
  .navbar-brand > img {
    height: 1.3em;
    margin-top: 0em;
  }
  .panel-main h3.panel-title{
    font-size: 1.8em;
  }
  .drop-wrap li{
    font-size: 1.2em;
  }
  .content-padder{
    padding-top: 74px;
  }

}
@media (min-width: 1201px){
  .trend-heading .com-span {
    font-size: 1.5em;
  }
  .trend-heading > h4 {
    font-size: 1.7em;
  }
  .trend-heading > img {
    margin-top: 0em;
    height: 7em;
  }
  .trend-heading > h2 {{
    font-size: 3em;
  }
}