{% extends "__base.html" %}
{% block stylesheets %}
{{ block.super }}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
{% endblock stylesheets %}
{% block body %}
<div class="form-legend shadow-z-2">
	<h3 class="form-heading">Bluedart Waybill Generator for #{{ order.order_id }}</h3>
	{% load widget_tweaks %}
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		{{ waybill_form.non_field_errors }}
		{% for field in waybill_form%}
		{% if field.errors %}
		<div class="form-group has-error">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				<span class="help-block">
					{% for error in  field.errors %}{{ error }}{% endfor %}
				</span>
			</div>
		</div>
		{% else %}
		<div class="form-group">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				{% if field.help_text %}
				<p class="help-block"><small>{{ field.help_text }}</small></p>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
			<button type="submit" class="btn btn-primary btn-raised">Generate Waybill</i></button>
			</div>
		</div>

	</form>
</div>
{% endblock body %}
{% block javascript %}
	{{ block.super }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	jQuery(document).ready(function() {
		$("#id_pickup_date_time").datetimepicker({
			format: 'm/d/Y H:i'
			});
	});
	</script>
{% endblock javascript %}