<div class="order-success">
    <h3>#{{order.order_id}} order Successfully Placed</h3>
    <p>Thanks for placing the <strong>{{order.service_used.service_name}}</strong> pickup order!</p>
    <p><strong>Tracking ID: {{track_obj.tracking_id}}</strong></p>
</div>
<div class="order-card shadow-z-2">
    <h4 class="text-center">Pickrr will be at your doorstep within 60 minutes</h4>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <span style="color:#16a085;">Pickrr:</span><i class="mdi-action-account-box mat-icon"></i> {{order.assigned_to.name}}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <i class="mdi-communication-phone mat-icon"></i> {{order.assigned_to.phone_number}}
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <i class="mdi-communication-email mat-icon"></i> {{order.assigned_to.email_id}}
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
            <h3 class="panel-title">Pickup Address</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p>
                        <strong>{{order.pickup_address.name}}</strong>
                    </p>
                </div>
                <div class="col-md-12">
                    Ph. - {{order.pickup_address.phone_number}}
                </div>
                <div class="col-md-12">
                    {{order.pickup_address.address_line}}
                </div>
                <div class="col-md-12">
                    {{order.pickup_address.city}},
                    {{order.pickup_address.state}}
                </div>
                <div class="col-md-6">
                    {{order.pickup_address.pin_code}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Delivery Address</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p>
                        <strong>{{order.drop_address.name}}</strong>
                    </p>
                </div>
                <div class="col-md-12">
                    Ph. - {{order.drop_address.phone_number}}
                </div>
                <div class="col-md-12">
                    {{order.drop_address.address_line}}
                </div>
                <div class="col-md-12">
                    {{order.drop_address.city}},
                    {{order.drop_address.state}}
                </div>
                <div class="col-md-6">
                    {{order.drop_address.pin_code}}
                </div>
            </div>
        </div>
    </div>
</div>