Pickup Address:<br>
{% for pickup in pickup_list %}
{{pickup.name}}<br>
{{pickup.phone_number}}<br>
{{pickup.address_line}}<br>
{{pickup.city}}<br>
{{pickup.state}}<br>
{{pickup.pin_code}}
<br><br>
{% endfor %}
<br></br>
<form method="post">{% csrf_token %}
	{{ pickupform.as_p }}
	<button name = "pickup_form" type="submit">Add Pickup Address</button>
</form>
<br><br>
Delivery Address:<br>
{% for delivery in drop_list %}
{{delivery.name}}<br>
{{delivery.phone_number}}<br>
{{delivery.address_line}}<br>
{{delivery.city}}<br>
{{delivery.state}}<br>
{{delivery.pin_code}}
<br><br>
{% endfor %}
<br>
<form method="post">{% csrf_token %}
	{{ deliveryform.as_p }}
	<button name = "delivery_form" type="submit">Add Delivery Address</button>
</form>